* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(92, 92, 194);
}

html {
    scroll-behavior: smooth;
}

:target {
    scroll-margin-top: 80px;
}
